body {
    background-image: url("./Img/tyler-rutherford-1142553-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    display: grid;
    grid-template-rows: 0.15fr 1fr 0.1fr;
    height: 100vh;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

main {
    justify-self: center;
    opacity: 0.9;
    background-color: #E6E8C0;
    width: 80%;
}
.loginMain {
    align-self: center;
    opacity: 1;
    width: auto;
    padding: 1em 5em;
    text-align: center;
}



/* lOGIN PAGE */
.loginMain > h1 {
    margin-top: 0;
}
.loginForm {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 5px;
}

.loginForm > input[type="radio"]{
    justify-self: right;
}
.loginForm > label[for="admin"], .loginForm > label[for="guard"]{
    justify-self: left;
}
button, input[type="button"], input[type="submit"] {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

#loginButton {
    grid-column: 1 / -1;
    padding: 0.5em;
    background-color: #5B5C4C;
    color: white;
    font-size: 1.1em;

}


/* HEADER & FOOTER */
header {
    text-align: center;
    background-color: #5B5C4C;
    max-height: 10em;
}
header > h1 {
    transform: translateY(-3em);
    text-shadow: 1px 1px 4px white;
    margin: 0;
}
.coatOfArms {
    width: 5em;
    padding: 0.5em;
    z-index: -1;
}
.logoutHeader {
    display: flex;
    justify-content: flex-end;
    transform: translateY(-6em);
    align-items: center;
}
#logout {
    font-size: 1em;
    margin-left: 1em;
    margin-right: 2em;
    background-color: #E6E8C0;
    color: black;
}
#logout:hover { font-weight: bolder; }
footer {
    display: flex;
    justify-content: flex-end;
}

footer > p {
    font-weight: normal;
    background: white;
    font-style: italic;
    padding: 0.15em;
}





/* Admin & Guard pages */
nav > ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

nav > ul > li {
    border: 1px black solid;
    padding: 1em;
    background-color: #E6E8C0;
    cursor: pointer;
}

nav > ul > li:hover {
    text-decoration-line: underline;
}

.cells, .delivery, .visitor, .inmate, .filters {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 5px;
    padding: 1em 1em;
    margin-right: 6em;
}
.cells, .delivery, .visitor, .inmate {
    display: none;
}
input[type="button"], button {
    grid-column: 2 / -1;
    font-size: 1.1em;
    padding: 0.2em;
    background-color: #5B5C4C;
    color: white;
}
input[type="button"]:hover, button:hover {
    font-size: 1.2em;
}
label {
    justify-self: right;
}

.results {
    display: flex;
    justify-content: center;
}